{% extends "_layouts/site" %}
  
{% block content %}

    <div class="container">
        <div class="games__left-column">
            <a class="profile" href="/dodemomentspelletjes">
                <button type="submit" class="btn form-button form-button-reverse">Terug naar alle knutselopdrachten</button>
            </a>
            <a class="profile" href="/knutselopdrachten/toevoegen">
                <button type="submit" class="btn form-button form-button-reverse">Een knutselopdracht toevoegen</button>
            </a>
            <button class="btn form-button form-button-reverse" id="printButton">
                download pdf
            </button>

            {# <a class="profile" href="/spelen/{{entry.id}}/edit">
                <button class="btn form-button form-button-reverse">
                    bewerk dit spel
                </button>
            </a> #}
        </div>
        <div class="games__content" id="game">
            <h1 class="games__content-mainTitle txt-orange">
                {{entry.title}}
            </h1>
            <p class="games__content-text">Toegevoegd door <a href="/gebruiker/{{entry.author.id}}" class="txt-medium txt-light-blue">{{ entry.author.username }}</a> op {{ entry.postDate | date("d/m/Y") }}</p>


            <div class="games__content-text redactor">
                {{entry.explenation}} 
            </div>

            <p class="games__content-bottom-text"> 
                Laatst bijgewerkt op {{ entry.dateUpdated | date ("d/m/yy") }} om {{ entry.dateUpdated | date ("H:i") }} 
            </p>

            {# Render the `comments.js` file - exclude the inline JS #}
            {{ craft.comments.renderJs(entry.id, {}, false) }}

            {# Fetch the variables required for the comments JS #}
            {% set jsVariables = craft.comments.getJsVariables(entry.id) %}

            {# Wait for the document to be ready, then initialise #}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    // Populate the ID and the settings
                    new Comments.Instance('{{ jsVariables.id }}', {{ jsVariables.settings | json_encode | raw }});
                });
            </script>
            {{ craft.comments.render(entry.id) }}
           
        </div>
    </div>

    <script>
        const printElement = document.getElementById('game');
        const printButton = document.getElementById('printButton');

        const opt = {
            margin:       1,
            filename:     "{{entry}}.pdf",
            html2canvas:  { scale: 2 },
        };

        printButton.onclick = () => {
            html2pdf(printElement, opt);
            html2pdf.set(opt).from(printElement).save();
            console.log("hey")
        }
    </script>
    
{% endblock %}