{% extends "_layouts/site" %}
  
{% block content %}

    <div class="container authentication">
        <div class="auth__block auth__block-left">
            
        </div>
        <div class="auth__block auth__block-right">
            <form class="form" method="post" accept-charset="UTF-8">
                {{ csrfInput() }}
                {{ actionInput('users/login') }}

                {{ input('text', 'loginName', craft.app.user.rememberedUsername, {
                    id: 'loginName',
                    autocomplete: 'username',
                    class: 'form-input',
                    placeholder: 'Gebruikersnaam of email',
                }) }}

                {{ input('password', 'password', null, {
                    id: 'password',
                    class: 'form-input',
                    placeholder: 'Wachtwoord',
                }) }}

                <button type="submit" class="btn form-button"> 
                    Login 
                </button>


                {% if errorMessage is defined %}
                    <p>{{ errorMessage }}</p>
                {% endif %}
            </form>

            <a class="txt-light-blue" href="{{ url('register') }}">Registreer hier</a>
            <a class="txt-dark-gray" href="{{ url('resetPassword') }}">Wachtwoord vergeten?</a>
            <p class="auth__block-right-choice"> Of </p>
            <button class="btn form-button btn-facebook">
                Login met Facebook
            </button>
            <button class="btn form-button btn-twitter">
                Login met Twitter
            </button>
            <button class="btn form-button btn-google">
                Login met Google
            </button>
        </div>
    </div>


{% endblock %}