{% extends "_layouts/site" %}

{# Get a random image for background #}
{% set backgroundImage = siteIdentity.heroImage.orderBy('RAND()').one() %}
  
  
{% block content %}

    <div class="container authentication">
        <div class="auth__block auth__block-left" style="background-image: url('{{ backgroundImage.url }}')">
            
        </div>
        <div class="auth__block auth__block-right">
            <form class="form" method="post" accept-charset="UTF-8">
                {{ csrfInput() }}
                {{ actionInput('users/login') }}

                {{ input('text', 'loginName', craft.app.user.rememberedUsername, {
                    id: 'loginName',
                    autocomplete: 'username',
                    class: 'form-input',
                    placeholder: 'Gebruikersnaam of email',
                }) }}

                {{ input('password', 'password', null, {
                    id: 'password',
                    class: 'form-input',
                    placeholder: 'Wachtwoord',
                }) }}

                <button type="submit" class="btn form-button btn-succes"> 
                    Login 
                </button>


                {% if errorMessage is defined %}
                    <p>{{ errorMessage }}</p>
                {% endif %}
            </form>

            <a class="txt-light-blue" href="{{ url('register') }}">Registreer hier</a>
            <a class="txt-dark-gray" href="{{ url('resetPassword') }}">Wachtwoord vergeten?</a>
            <p class="auth__block-right-choice"> Of </p>
            <a class="social" href="{{ craft.socializer.loginUrl('google') }}">
                <button class="btn btn-facebook">
                    Login met Facebook
                </button>
            </a>
            <a class="social" href="{{ craft.socializer.loginUrl('google') }}">
                <button class="btn btn-twitter">
                    Login met Twitter
                </button>
            </a>
            <a class="social" href="{{ craft.socializer.loginUrl('google') }}">
                <button class="btn btn-google">
                    Login met Google
                </button>
            </a>
            
        </div>
    </div>


{% endblock %}