{% extends "_layouts/site" %}

{% block content %}

    <div class="container">
        hier voeg je één spel toe

        {% macro errorList(errors) %}
        {% if errors %}
            {{ ul(errors, {class: 'errors'}) }}
        {% endif %}
        {% endmacro %}

        {# If there were any validation errors, an `entry` variable will be 
        passed to the template, which contains the posted values 
        and validation errors. If that’s not set, we’ll default 
        to a new entry. #}
        {% set entry = entry ?? create('craft\\elements\\Entry') %}

        {# Add `enctype="multipart/form-data"` to `<form>` if you’re 
        uploading files. #}
        <form method="post" accept-charset="UTF-8">
            {{ csrfInput() }}
            {{ actionInput('entries/save-entry') }}
            {{ redirectInput('spelen/{slug}') }}
            {{ hiddenInput('sectionId', '1') }}
            {{ hiddenInput('enabled', '1') }}
            {{ hiddenInput('fields[isPublic]', '') }}

            <label for="title">Title</label>
            {{ input('text', 'title', entry.title, {
                id: 'title',
            }) }}
            {{ _self.errorList(entry.getErrors('title')) }}

            <label for="youngestAge">Minimum leeftijd</label>
            {{ tag('input', {
                id: 'youngestAge',
                type: 'number',
                name: 'fields[youngestAge]',
                text: entry.youngestAge,
            }) }}
            {{ _self.errorList(entry.getErrors('youngestAge')) }}

            <label for="oldestAge">Maximum leeftijd</label>
            {{ tag('input', {
                id: 'oldestAge',
                type: 'number',
                name: 'fields[oldestAge]',
                text: entry.oldestAge,
            }) }}
            {{ _self.errorList(entry.getErrors('oldestAge')) }}

            <label for="leastAmountOfPlayers">Minimum aantal spelers</label>
            {{ tag('input', {
                id: 'leastAmountOfPlayers',
                type: 'number',
                name: 'fields[leastAmountOfPlayers]',
                text: entry.leastAmountOfPlayers,
            }) }}
            {{ _self.errorList(entry.getErrors('leastAmountOfPlayers')) }}

            <label for="mostAmountOfPlayers">Maximum aantal spelers</label>
            {{ tag('input', {
                id: 'mostAmountOfPlayers',
                type: 'number',
                name: 'fields[mostAmountOfPlayers]',
                text: entry.mostAmountOfPlayers,
            }) }}
            {{ _self.errorList(entry.getErrors('mostAmountOfPlayers')) }}

            <label for="groups">Aantal groepen</label>
            {{ tag('input', {
                id: 'groups',
                type: 'number',
                name: 'fields[groups]',
                text: entry.groups,
            }) }}
            {{ _self.errorList(entry.getErrors('groups')) }}

            <label for="gametime">Speelduur</label>
            {{ tag('input', {
                id: 'gametime',
                type: 'time',
                name: 'fields[gametime]',
                text: entry.gametime,
            }) }}
            {{ _self.errorList(entry.getErrors('gametime')) }}


            <label for="intro">Intro</label>
            {{ tag('input', {
                id: 'intro',
                type: 'text',
                name: 'fields[intro]',
                text: entry.intro,
            }) }}
            {{ _self.errorList(entry.getErrors('intro')) }}

            <label for="purpose">Doel van het spel</label>
            {{ tag('input', {
                id: 'purpose',
                type: 'text',
                name: 'fields[purpose]',
                text: entry.purpose,
            }) }}
            {{ _self.errorList(entry.getErrors('purpose')) }}

            <label for="explenation">Speluitleg</label>
            {{ tag('input', {
                id: 'explenation',
                type: 'text',
                name: 'fields[explenation]',
                text: entry.explenation,
            }) }}
            {{ _self.errorList(entry.getErrors('explenation')) }}

            <label for="gameType">Spel type</label>
            {{ tag('input', {
                id: 'gameType',
                type: 'text',
                name: 'fields[gameType]',
                text: '6',
            }) }}
            {{ _self.errorList(entry.getErrors('gameType')) }}

            <label for="isPublic">Publiek</label>
            {{ tag('input', {
                id: 'isPublic',
                type: 'checkbox',
                name: 'fields[isPublic]',
                value: '1',
                checked: (entry.isPublic ?? false) ? true : false,
            }) }}
            {{ _self.errorList(entry.getErrors('isPublic')) }}





            <label for="body">Body</label>
            {{ tag('textarea', {
                id: 'body',
                name: 'fields[body]',
                text: 'test bericht',
            }) }}
            {{ _self.errorList(entry.getErrors('body')) }}

            <button type="submit">Publish</button>
        </form>
    </div>

{% endblock %}