{% extends "_layouts/site" %}

{# get the current logged in user #}
{% set user = currentUser %}

{# get all games from the database #}
{% set games = craft.entries({
    section: 'games',
    authorId: user.id,
})
.orderBy('postDate DESC') %}

{# 
    <p>Terrein: <span>{{game.terrain.title}}</span></p>
    <p>Soort: <span>{{game.gameType.title}}</span></p>
    <p>Thema's: <span>{{game.theme.title}}</span></p>
    <p> - {{game.leastAmountOfPlayers}} tot {{game.mostAmountOfPlayers}} spelers - {{game.gametime | date("m")}} minuten -  </p>
#}

{% block content %}
    <div class="container games">
        <div class="games__left-column">
            <h1>Zoekbalk</h1>
        </div>
        <div class="games__content">
            {% for game in games %}
                <a href="{{ game.getUrl() }}" class="games__content-link">
                    <div class="games__content__item">
                        <h2 class="games__content-title txt-light-blue">
                            {{game.title}}
                        </h2>

                        <p class="games__content-specs txt-orange">
                            <span class="txt-dark-blue"> Terrein: </span> {{game.terrain.one().title}}
                            <span class="txt-dark-blue"> Soort: </span> {{game.gameType.one().title}}
                            <span class="txt-dark-blue"> Thema's: </span> {{game.theme.one().title}}
                        </p>
                        <p class="games__content-specs txt-orange"> 
                            {{ game.youngestAge }} tot {{ game.oldestAge }} jaar
                            - 
                            {{game.leastAmountOfPlayers}} tot {{game.mostAmountOfPlayers}} spelers 
                            - 
                            {{ game.gametime | time ("H") * 60 + game.gametime | time ("i") }} minuten 
                            -
                            {{ game.groups }} 
                            {% if (game.groups == 1 ) %}
                                groep
                            {% else %}
                                groepen
                            {% endif %}
                        </p>

                        <p class="games__content-text txt-dark-blue">
                            {{game.intro}} 
                        </p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}