{% extends "_layouts/site" %}
  
{% set user = user ?? currentUser %}

{# Require that a user is logged in to view this form. #}
{% requireLogin %}

{% block content %}

    <div class="container profile">
        <div class="games__left-column profile__left-column">
        {{ user.photo.getImg|attr({
                id: 'user-photo',
                class: 'profile__profile-pic',
                alt: user.friendlyName,
            }) }}

            {# <a class="profile" href="/mijnProfiel/edit">
                <button type="submit" class="btn form-button form-button-reverse">Profiel bewerken</button>
            </a> #}
        </div>

        <div class="games__content profile__content">
            <h1 class="page-title"> Welkom {{ currentUser }}</h1>
            {% for profilePageUrl in entry.homepageUrl.all() %}
                <a href="{{profilePageUrl.linkUrl.one().getUrl()}}" class="profile__link">
                    <div class="profile__link-item">
                        <h2 class="profile__link-title">
                            {{profilePageUrl.linkTitle}}
                        </h2>
                    </div>
                </a>

            {% endfor %}
            <a href="{{logoutUrl}}" class="profile__link">
                <div class="profile__link-item">
                    <h2 class="profile__link-title">
                        Uitloggen
                    </h2>
                </div>
            </a>
        </div>
    </div>


{% endblock %}