{% extends "_layouts/site" %}
{% set userId = craft.app.request.getSegment(2) %}
{% set user = craft.users.id(userId).one()%}
{# get all games from the database #}
{% set games = craft.entries({
    section: 'games',
    isPublic: 'true',
    authorId: user.id ?? 0,
})
.orderBy('postDate DESC') %}

  
{% block content %}

    <div class="container home">
    {% if user == null %}
        Oeps, deze gebruiker bestaat niet
    {% else %}

        <div class="games__left-column">
            {{ user.photo.getImg|attr({
                id: 'user-photo',
                class: 'profile__profile-pic',
                alt: user.friendlyName,
            }) }}
        </div>
        {# Spelen oplijsten die publiek staan van deze gebruiker #}
        <div class="games__content">
            <h1 class="page-title">Dit is het profiel van {{ user.username }}</h1>
            Spelen | Dode momentspelletjes | Knutselopdrachten | Blogberichten (als deze er zijn)
            {% for game in games %}
                <a href="{{ game.getUrl() }}" class="games__content-link">
                    <div class="games__content__item">
                        <h2 class="games__content-title txt-light-blue">
                            {{game.title}}
                        </h2>

                        <p class="games__content-specs txt-orange">
                            <span class="txt-dark-blue"> Terrein: </span> {{game.terrain.one().title}}
                            <span class="txt-dark-blue"> Soort: </span> {{game.gameType.one().title}}
                            <span class="txt-dark-blue"> Thema's: </span> {{game.theme.one().title}}
                        </p>
                        <p class="games__content-specs txt-orange"> 
                            {{ game.youngestAge }} tot {{ game.oldestAge }} jaar
                            - 
                            {{game.leastAmountOfPlayers}} tot {{game.mostAmountOfPlayers}} spelers 
                            - 
                            {{ game.gametime | time ("H") * 60 + game.gametime | time ("i") }} minuten 
                            -
                            {{ game.groups }} 
                            {% if (game.groups == 1 ) %}
                                groep
                            {% else %}
                                groepen
                            {% endif %}
                        </p>

                        <p class="games__content-text txt-dark-blue">
                            {{game.intro}} 
                        </p>
                    </div>
                </a>
            {% endfor %}
        </div>

        {# star rating van deze gebruiker toevoegen? #}
        {# enkele statistieken van deze gebruiker tonen #}

    {% endif %}
        
        
    </div>


{% endblock %}